#intake_wrapper {
    width: 100%;
    background-color: rgba(47, 124, 157, 0.9);
}

.step_wrapper {
    border-bottom: 1px dotted white;
    margin: 0px 0px 5px 0px;;
    padding: 0px 0px 5px 0px;
}

.step {
    border: 3px solid;
    padding: 4px 7px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

.step_header {
    color: #ffffff;
    padding: 5px 4px;
    margin-bottom: 10px;
    min-height: 20px;
    padding-top: 10px;
    cursor: pointer;
}

.intake_map {
    padding: 5px;
}

.mapDiv_Intake {
    width: 500px;
    height: 220px;
}

.step_content {
    display: none;
    overflow: hidden;
}
