<div id="intake_wrapper">
    <form id="intake_form">
    <div class="close_button"></div>
    <div class="step_wrapper">
        <div class="step_header">
            <span class="step">1</span> Title your story
        </div>
        <div class="step_content">
            <input type="text" name="title" />
        </div>
    </div>
    <div class="step_wrapper">
        <div class="step_header">
            <span class="step">2</span> When did the event happen?
        </div>
        <div class="step_content">
            <input type="date" name="story_date" />
        </div>
    </div>
    <div class="step_wrapper">
        <div class="step_header">
            <span class="step">3</span> Where did this happen?
        </div>
        <div class="step_content" id="map_content">
            <div class="intake_map">
                <div id="mapDiv_Intake"> </div>
            </div>
            Latitude: <input type="text" name="latitude" id="coords_lat"/>
            Longitude: <input type="text" name="longitude" id="coords_lon"/>
        </div>
    </div>
    <div class="step_wrapper">
        <div class="step_header">
            <span class="step">4</span> Tell us your story or type us a story.
        </div>
        <div class="step_content">
            <textarea name="text"></textarea>
        </div>
    </div>
    <div class="step_wrapper">
        <div class="step_header">
            <span class="step">5</span> Who are you?
        </div>
        <div class="step_content">
            Name: <input type="text" name="submitter_name" />
            Email: <input type="email" name="submitter_email" />
            Phone: <input type="tel" name="submitter_phone" />
        </div>
    </div>
    <div class="step_wrapper">
        <div class="step_header">
            <span class="step">6</span> Do you have photos or videos to share?
        </div>
        <div class="step_content">
            <input id="images" type="file" value="Upload Media" name="intake_media" class="file" />
        </div>
    </div>
    <div class="step_wrapper">
        <div class="step_header">
            <input type="submit" value="Share Your Story" />
        </div>
    </div>
    </form>
</div>
